#carouselExampleSlidesOnly {
  background-color: lightgray;
}

.carousel-indicators {
  background-color: rgba(211, 211, 211, 0.5);
  border-style: solid;
  border-color: gray;
  border-width: 0.5px;
  border-radius: 20px;
}

.carousel-inner {
  background-color: rgba(255, 231, 199, 0.7);
}

.carousel-caption {
  padding: 10px 10px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
  background-color: rgba(83, 75, 64, 0.5);
  box-shadow: gray 1px 1px 2px;
  text-shadow: black 1px 1px 2px;
}
